.homePage {
    background-color: rgb(230, 230, 230);
    height: 825px;
    display: flex;
    display: grid;
    justify-items: center;
}

.homeImg-pokedex {
    padding-top: 2em;
    width: 800px;
    height: 180px;
    display: grid;
    justify-items: center;
}

.home-trainer {
    height: 0px;
    font-family: inherit;
    font-size: 50px;
    font-weight: 700;
    line-height: 61px;
    letter-spacing: 0em;
    text-align: center;
    color: #FE1936;
    margin-top: -65px;
}

.home-start {
    font-size: 25px;
    font-family: inherit;
    margin-bottom: 0px;
    margin-top: -130px;
}

.home-form {
    display: flex;
    justify-items: center;
}

.home-input {
    width: 662px;
    height: 68px;
    top: 150px;
    display: grid;
    margin-top: -150px;
}

.home-btn-start {
    width: 150px;
    height: 68px;
    background: #D93F3F;
    color: white;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: -150px;
    cursor: pointer;
}

.home-pageImg-footer {
    display: grid;
    width: 100%;
    margin-bottom: -120px;
}

